 /*CSS reset. Different browsers use different default margins,
 causing sites to look different by margins. The * means "all elements" (a universal selector), 
 so we are setting all elements to have zero margins, 
 and zero padding, thus making them look the same in all browsers. */
*{  
  margin:0;
  padding:0;
}

/*FORMATTING THE HEADER ///////////////////////////////////////////////////////////////////////////////*/
.nav ul {
  list-style: none;
  background-color: #2B2A2A;
  text-align: left;
  padding: 0;
  margin: 0;
}
.nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
	font-family: 'Titillium Web', sans-serif;
	text-align:center;
	padding:5px 25px 5px 25px;
    }
	
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #f7ac16;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
.nav li {
    display: inline-block;
    margin-right: -4px;
  }
  
/* Style the search box inside the navigation bar */
.nav input[type=text] {
	width: 200px;
    float: right;
    padding: 6px; 
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
	font-family: 'Titillium Web', sans-serif;
	color: white;
}

/*FORMATTING THE FOOTER ////////////////////////////////////////////////////////////////////////////*/

.footer {
	width: 100%;
	height:100px;
	padding: 30px 30px 30px;
	padding-left:30px;
	text-align: left;
	background-color: #2B2A2A;
    font-family: 'Poor Story', cursive;
}

.footer a {
	color: #666;
}

/*FORMATTING THE SIDE MENU BAR //////////////////////////////////////////////////////////////////////*/

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    right: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 25px; /* 15px padding */
	padding-right: 30px;
    width: 200px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
	font-family: 'Titillium Web', sans-serif;
}

#mySidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
}

/*the links*/
#cont {
    top: 300px;
    background-color: #f7ac16;
}

#administrare {
    top: 360px;
    background-color: #f7ac16; 
}

#istoric {
    top: 420px;
    background-color: #f7ac16; 
}

#documente {
    top: 480px;
    background-color: #f7ac16 
}





h1 {
  font-size: 2em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
  margin: .67em 0;
  display: block;
}

#registered {
    margin-top: 30px;
}

#registered img {
    margin-bottom: 0px;
    width: 100px;
    height: 100px;
}

#registered span {
    clear: both;
    display: block;
}

img {
    margin-bottom: 20px;
}

.avatar {
    margin: 10px 0 20px 0;
}

.module{
  position:relative;
  top:10%;    
  height:65%;
  width:450px;
  margin-left:auto;
  margin-right:auto;
}

.user {
    color: #ffa64d;
    font-weight: bold;
}

.userlist {
    float:left;
    padding: 30px;
}

.userlist span {
    color: #ffa64d;
}

.welcome{
  position:relative;
  top:30%;    
  height:65%;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
}



body{
  color: #fff;
  background-color:#f0f0f0;
  font-family: 'Titillium Web', sans-serif;
  background:url('') #404040 no-repeat center top;
}

.body-content{
  position:relative;
  top:2px;
  height:700px;
  width:800px;
  margin-left:40;
  margin-right:auto; 
  background: transparent;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"]
{
  height:30px;
  width:100%;;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
   border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-position 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  transition: background-position 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 2px solid;
  border-color: #ffa64d;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}


.btn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 3px 0;
  padding: 6px 20px;
  font-size: 20px;
  line-height: 20px;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #C0C0C0;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
}
.btn.active,
.btn:active {
  padding: 7px 19px 5px 21px;
}
.btn.disabled:active,
.btn[disabled]:active,
.btn.disabled.active,
.btn[disabled].active {
  padding: 6px 20px !important;
}
.btn:hover,
.btn:focus {
  background-color: rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}
.btn:active,
.btn.active {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.07);
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}
.btn-primary {
  background-color: #C0C0C0;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  background-image: -webkit-linear-gradient(top, #C0C0C0, #ff8c1a);
  background-image: linear-gradient(to bottom, #C0C0C0, #ff8c1a);
  border: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.15) inset;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #C0C0C0;
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}
.btn-primary:active,
.btn-primary.active {
  background-color: #C0C0C0;
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}
.btn-primary:hover,
.btn-primary:focus {
  background-image: -webkit-linear-gradient(top, #C0C0C0, #D3D3D3);
  background-image: linear-gradient(to bottom, #C0C0C0, #D3D3D3);
}
.btn-primary:active,
.btn-primary.active {
  background-image: -webkit-linear-gradient(top, #C0C0C0, #D3D3D3);
  background-image: linear-gradient(to bottom, #C0C0C0, #D3D3D3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) inset, 0 0 0 1px rgba(255, 255, 255, 0.07) inset;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.alert {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 20px 4px 20px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
  text-shadow: none;
  position: relative;
  background-color: #423c35;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #000;
  box-shadow: 0 0 0 1px #363d49 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}
.alert-error {
  color: #f00;
  background-color: #360e10;
  box-shadow: 0 0 0 1px #551e21 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}
.alert:empty{
    display: none;
}
.alert-success {
  color: #21ec0c;
  background-color: #15360e;
  box-shadow: 0 0 0 1px #2a551e inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}

